@import url("https://use.typekit.net/ops4vzn.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-mfr-red: 204, 8, 41;
    --color-mfr-green: 0, 118, 79;
    --color-mfr-white: 251, 248, 235;
    --color-gray-dark: 54, 50, 50;
    --color-gray-mid: 112, 112, 112;
    --color-gray-light: 144, 144, 144;
    --color-white: 255, 255, 255;
  }

  #c-submit-button {
    @apply px-6 py-4 text-xl bg-accent-500;
  }
  .cognito .c-label label,
  .cognito .c-label {
    @apply !text-lg;
  }

  html {
    scroll-behavior: smooth;
  }
  body {
    @apply text-theme-body;
  }
  /* p {
    @apply leading-[1.9em]  text-lg;
  } */

  h1,
  h2,
  h3 {
    @apply text-theme-base;
  }

  /* strong,
  b {
    @apply relative    
    after:absolute 
    after:-bottom-[0.3em] after:-left-[0.125em] after:-right-[0.125em] after:h-[0.4em] 
    after:bg-[url('/images/svg/underline.svg')] after:bg-no-repeat  after:bg-cover after:!fill-accent-500;
  } */

  :focus {
    @apply outline-none;
  }
  :focus-visible {
    @apply before:absolute
    before:-inset-3
     before:outline before:shadow-red-500 before:rounded-lg;
  }

  :target {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
  }
}

@layer components {
  .btn {
    @apply relative flex md:inline-flex items-start justify-center 
    px-4 pt-4 pb-3 sm:px-6 sm:pt-[20px] sm:pb-[17px]
    leading-tight
    border border-transparent 
    text-[18px] font-bold font-serif no-underline
    rounded-[7px] md:rounded-[14px] shadow-lg  
    text-stone-100
    bg-stone-600 hover:bg-stone-500
    whitespace-nowrap;
  }

  .btn-primary {
    @apply text-white bg-themeButton-primary hover:bg-themeButton-primary-hover;
  }
  .btn-accent {
    @apply text-white bg-themeButton-accent hover:bg-themeButton-accent-hover;
  }
  .btn-inverted-primary {
    @apply bg-white text-theme-primary 
    hover:bg-green-700 hover:text-white;
  }
  .btn-inverted-accent {
    @apply bg-white text-theme-accent 
    hover:bg-red-700 hover:text-white;
  }
  .btn-outlined-accent {
    @apply bg-white text-theme-accent 
    hover:bg-red-700 hover:text-white ring-2 ring-accent;
  }
  .btn-outlined-primary {
    @apply bg-white text-primary 
    hover:bg-primary-600 hover:text-white ring-2 ring-primary ring-inset;
  }

  .btn-small {
    @apply px-4 py-3 sm:px-[20px] sm:py-[12px] text-[16px] !align-baseline;
  }

  .btn-dark {
    @apply bg-stone-800 text-white border-2 border-white hover:bg-white hover:text-stone-800 hover:border-gray-800;
  }
  /* bg-opacity-60 hover:bg-opacity-70*/

  .eyebrow {
    /* @apply text-[46px] md:text-[70px] font-cursive text-theme-accent block; */
    @apply text-[36px] md:text-[42px] font-condensed font-bold italic text-theme-accent relative;
    /* @apply text-xl md:text-[25px]
    tracking-wide
    font-bold 
    border-gray-300 border-b-2
    mb-6 pb-6
    font-sans uppercase text-theme-accent; */
  }

  .custom-list-bullets ul {
    list-style-type: none;
  }
  .custom-list-bullets ul li {
    @apply py-1 flex;
  }
  .custom-list-bullets ul li::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    display: inline-block;
  }
  .custom-list-bullets ul li p {
    display: inline-block;
  }
  ul.custom-bullets li p,
  .prose ul li p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .nutrition-table td,
  .nutrition-table th {
    @apply border-b border-slate-600
     py-[2px];
  }
  .custom-table,
  .custom-table tbody {
    @apply divide-y divide-slate-400;
  }
  .custom-table {
    @apply w-full;
  }
  .custom-table th {
    @apply text-left;
  }
  .custom-table td,
  .custom-table th {
    @apply px-4 py-1;
  }

  .main {
    @apply pt-[5.5rem];
  }
}

@layer utilities {
  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
  .bg-muslin {
    background: url("/images/bg/bg-muslin-dark-cold.jpg") center center;
    background-size: cover;
    background-color: #000;
  }
  .bg-dark-table-md {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 85%,
        rgba(255, 255, 255, 0)
      ),
      url("/images/bg/dark-product-hero-bg-wall.jpg");
    background-position: bottom left;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .bg-dark-table {
    background: url("/images/bg/dark-product-hero-bg.jpg") bottom right;
    background-size: cover;
  }

  .custom-underline {
    @apply relative    
    after:absolute 
    after:-bottom-[0.2em] after:-left-[0.125em] after:-right-[0.125em] after:h-[24px] 
    after:bg-[url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg')] after:bg-no-repeat  after:bg-cover after:fill-accent-500;
  }
  .footer-col-heading {
    @apply text-xl font-bold text-white tracking-wider;
  }
  .footer-col-list-item {
    @apply text-base text-stone-300 hover:text-white;
  }

  .main-menu-item {
    @apply text-base rounded-md 
    font-bold font-sans
    relative;
  }
}

.scroll-down-chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.scroll-down-chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.scroll-down-chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.scroll-down-chevron:before,
.scroll-down-chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: green;
}

.scroll-down-chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.scroll-down-chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}
